<!DOCTYPE html>
<html>
   <head>
      <title>Employee Database System</title>
      <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
      <link href="../public/css/dataTables.bootstrap4.min.css" rel="stylesheet">
      <link rel="../stylesheet" type="text/css" href="../public/css/design.css">
  
      <script src="../public/js/jquery.min.js"></script>
      <script src="../public/js/jquery.dataTables.min.js"></script>
      <script src="../public/js/dataTables.bootstrap4.min.js"></script>
      <%- include('common/header')%>
      <div class="container mt-5 w-50">
         <h2 class="mb-4">Search Employee</h2>
        
         <form action="/employee" method="GET">
            <input type="text" name="name" class="form-control" placeholder="Employee Name">
            <button type="submit" class="btn btn-danger btn-block mt-3">Search in Database</button>
         </form>


         <%if(x){%>

      
            <h4 class="text-danger my-4">Search Results: </h4>
            <table class="table table-bordered" width="100%" cellspacing="0">
               <thead>
                  <tr>
                     <th><%=x.Name%></th>
                     <th><%=x.Designation%></th>
                     <th><%=x.Salary%></th>
                  </tr>
               </thead>
           
            </table>
         </div>
         <%}%>
   
         <%- include('common/footer') %>