

<!DOCTYPE html>
<html>

<head>
    <title>Employee Database System</title>


    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
    <link href="../public/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="../stylesheet" type="text/css" href="../public/css/design.css">

    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/jquery.dataTables.min.js"></script>
    <script src="../public/js/dataTables.bootstrap4.min.js"></script>

</head>

<body>
    <%- include('common/header')%>


<div class="container mt-5 w-50">

    <h2 class="mb-4">Update Employee Data</h2>

    <form action="/edit/<%= x.Name%>?_method=put" method="POST">
        <input type="hidden" name="_method" value="PUT">
        
        <input type="text" value="<%= x.Name%>" name="name" class="form-control" placeholder="Employee Name">

        <input type="text" value="<%= x.Designation%>" name="designation" class="form-control" placeholder="Employee Designation">

        <input type="text" value="<%=x.Salary%>" name="salary" class="form-control" placeholder="Employee Salary">

        <button type="submit" class="btn btn-danger btn-block mt-3">Update Employee</button>

    </form>
</div>

<%- include('common/footer') %>